.sso-hidden {
  display: block;
}

.col {
  padding-right: 0px;
  padding-left: 0px;
}

.remoteRow {
  display: flex;
}

.banner {
  padding: 0;
  background-color: #52575c;
  color: white;
}

.banner-text {
  padding: 8px 20px;
  margin: 0;
}


#join-form {
  margin-top: 10px;
}

.tips {
  font-size: 12px;
  margin-bottom: 2px;
  color: gray;
}

.join-info-text {
  margin-bottom: 2px;
}

input {
  width: 100%;
  margin-bottom: 2px;
}

.player {
  width: 210px;
  height: 210px;
  margin-right: 10px;
  display: flex;
  position: relative;
}

.remotePlayer {
  width: 640px;
  height: 480px;
  margin-right: 10px;
  display: flex;
}

.remotePlayerSelected {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: red;
}

.remotePlayerLarge {
  width: 960px;
  height: 540px;
}

.remotePlayerLargeSelected {
  width: 960px;
  height: 540px;
  border-style: solid;
  border-color: red;
}

.player-name {
  margin: 8px 0;
}

#success-alert, #success-alert-with-token, #room-full-alert {
  display: none;
}

#client-stats {
  margin-top: 10px;
}

.stats {
  color: rgb(255, 255, 255);
  margin-left: 10px;
  position: absolute;
}

.stats2 {
  color: rgb(0, 0, 0);
  margin-left: 10px;
  font-size: 12px;
}

.remoteStats {
  color: rgb(255, 255, 255);
  margin-left: 10px;
  position: absolute;
}

.stats-row {
  font-size: 12px;
  margin-bottom: 2px;
}

.player-with-stats {
  display: flex;
  position: relative;
}

.stream-stats {
  min-width: 260px;
}

@media (max-width: 240px) {
  .player {
    width: 240px;
    height: 240px;
  }

  .remotePlayer {
    width: 1280px;
    height: 720px;
  }


  .player-with-stats {
    display: block;
  }
}

.collapse-wrapper {
  display: inline-block;
  position: relative;
}

.collapse-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.collapse-wrapper .collapse-btn {
  padding-left: 6.5rem;
  padding-right: 6.5rem
}

@media (max-width: 640px) {
  .collapse-wrapper {
    margin-top: 10px;
  }
}

@media (max-width: 380px) {
  .collapse-wrapper .collapse-btn {
    padding-left: 4.5rem;
    padding-right: 4.5rem
  }
}

.popupHidden {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 0%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}


.popupShow {
  visibility: true; /* Hidden by default. Visible on click */
  min-width: 10%; /* Set a default minimum width */
  max-width: 10%;
  margin-left: 0px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 0%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 10.0s;
  animation: fadein 0.5s, fadeout 0.5s 10.0s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
