body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

* {
    box-sizing: border-box
}

.main:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33%;
    padding: 10px;
    min-height: 300px;
}

.button {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    cursor: pointer;
}

.button:hover {
    color: #fff;
    background-color: #004b9c;
    border-color: #004b9c;
    cursor: pointer;
}

.button.disabled,.button:disabled {
    color: #fff;
    background-color: #002349;
    border-color: #002349;
    cursor:default;
}

.logWindow {
    background-color: white;
    overflow-y: auto;
    height: 500px;
}

.publicTableTitle {
    text-align: center;
    font-weight:bolder
}
.publicGroupsTable {
    overflow-y: auto
}
.publicGroupsTable {
    margin: auto;
}
.publicGroupsTable table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
}
.publicGroupsTable td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.publicGroupsTable tr:nth-child(even) {
    background-color: #dddddd;
}

.joinedTableTitle {
    text-align: center;
    font-weight:bolder
}
.joinedGroupsTable {
    overflow-y: auto
}
.joinedGroupsTable {
    margin: auto;
}
.joinedGroupsTable table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
}
.joinedGroupsTable td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.joinedGroupsTable tr:nth-child(even) {
    background-color: #dddddd;
}

.messages {
    background-color: black;
    padding: 10px;
    height: 80%;
    overflow: auto;
}
.messageList {
    margin: auto;
    overflow-y: auto;
    border-radius: 15px;
    height: 900px;
    border: 6mm ridge rgba(0, 0, 0, .6);
    padding: 5px;
}
.mMessage {
    background: linear-gradient(90deg, rgba(194,138,53,0) 81%, rgba(67,120,166,1) 100%);
    text-align: right;
    border-radius: 10px;
}
.rFrom {
    background: linear-gradient(90deg, rgba(116,215,132,1) 1%, rgba(0,212,255,0) 100%);
    text-align: left;
    font-weight:lighter;
    font-size:small
}
.rMessage {
    background: linear-gradient(90deg, rgba(116,215,132,1) 1%, rgba(0,212,255,0) 100%);
    text-align: left;
    border-radius: 10px;
}
.rText {
    background: linear-gradient(90deg, rgba(116,215,132,1) 1%, rgba(0,212,255,0) 100%);
    text-align: left;
}
.rTime {
    font-family: arial, sans-serif;
    font-size: x-small;
    text-align: left;
    background: linear-gradient(90deg, rgba(67,120,166,0) 0%, rgba(224,224,224,1) 100%);
}
.myTime {
    font-family: arial, sans-serif;
    font-size: x-small;
    text-align: right;
    background: linear-gradient(90deg, rgba(67,120,166,0) 0%, rgba(224,224,224,1) 100%);
}
.emptyDiv {
    height:20px;
    background-color: white;
}


