.sso-hidden {
  display: block;
}

.col {
  padding-right: 0px;
  padding-left: 0px;
}

.remoteRow {
  display: flex;
}

.banner {
  padding: 0;
  background-color: #52575c;
  color: white;
}

.banner-text {
  padding: 8px 20px;
  margin: 0;
}


#join-form {
  margin-top: 10px;
}

.tips {
  font-size: 12px;
  margin-bottom: 2px;
  color: gray;
}

.join-info-text {
  margin-bottom: 2px;
}

input {
  width: 100%;
  margin-bottom: 2px;
}

.player {
  width: 1280px;
  height: 720px;
  margin-right: 10px;
  display: flex;
  position: relative;
}

.remotePlayer {
  width: 1280px;
  height: 720px;
  margin-right: 10px;
  display: flex;
}

.player-name {
  margin: 8px 0;
}

#success-alert, #success-alert-with-token, #room-full-alert {
  display: none;
}

#client-stats {
  margin-top: 10px;
}

.stats {
  color: rgb(255, 0, 0);
  margin-left: 10px;
  position: absolute;
}

.stats2 {
  color: rgb(0, 0, 0);
  margin-left: 10px;
  font-size: 12px;
}

.remoteStats {
  color: rgb(255, 0, 0);
  margin-left: 10px;
  position: absolute;
}

.stats-row {
  font-size: 12px;
  margin-bottom: 2px;
}

.player-with-stats {
  display: flex;
  position: relative;
}

.stream-stats {
  min-width: 260px;
}

@media (max-width: 1280px) {
  .player {
    width: 1280px;
    height: 720px;
  }

  .remotePlayer {
    width: 1280px;
    height: 720px;
  }

  .player-with-stats {
    display: block;
  }
}

.collapse-wrapper {
  display: inline-block;
  position: relative;
}

.collapse-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.collapse-wrapper .collapse-btn {
  padding-left: 6.5rem;
  padding-right: 6.5rem
}

@media (max-width: 640px) {
  .collapse-wrapper {
    margin-top: 10px;
  }
}

@media (max-width: 380px) {
  .collapse-wrapper .collapse-btn {
    padding-left: 4.5rem;
    padding-right: 4.5rem
  }
}
